{% extends "miPortafolioApp/base.html" %}

{% load static%}

{%block content%}

    <h1>About me</h1>
    <div class="aboutme">
        <img src="/static/miPortafolioApp/img/papel7.png" />
        <div class="texto-encima">
            <div class="texto11">
                <p>
                    I'm a girl in her twentys ready to jump into the fascinating designing world. 
                    Since I was a kid I navegate into the sea of desing in different areas as painting, photograpy,
                    desing my notebooks, writting stories, I also take some courses in the school and by myself in these fields.
                    <br>
                    There are a lot of knowledge in this world and I really love the feeling when I found something I didnt know
                    and I have the opportunity to research about it and one of my favorite parts is when I can write that information
                    with a beautiful design.
                    <br>
                    My expirence comes basically from school projects, but I know that I have the necessary to sucess in this world and bring my unique vision.
                
                </p>
            </div>
        </div>
    </div>
    <img src="/static/miPortafolioApp/img/me.jpg" class="mep">

    <div class="bring">
        <img src="/static/miPortafolioApp/img/papel2.png" />
        <div class="texto-encima">
            <div class="txt1">
                <h3>
                    What can I bring to your team?
                </h3>
            </div>
            <div class="txt2">
                <h4>
                    ☆ My passion <br> ☆ My enthusiam <br> ☆ My unique view of the world <br> ☆ My compromise 
                    <br> ☆ Every project I work on I always put my heart and the best of me 
                    <br> ☆ My curiosity <br> ☆ My energy to keep learning 
                </h4>
            </div>
        </div>    
    </div>

    <img src="/static/miPortafolioApp/img/me2.jpg" class="mep2">

{%endblock%}