{% extends "miPortafolioApp/base.html" %}

{% load static%}

{%block content%}

    <h1>Hobbies</h1>

    <div class="reading">
        <img src="/static/miPortafolioApp/img/papel5.png" />
        <div class="texto-encima">
            <div class="texto1">
                <h2>
                    Reading
                </h2>
            </div>
            <div class="texto2">
                <p>
                    One of my favorite things in the world is the reading. Its wonderful how you can be transported into 
                    different and amazing worlds just by opening a book. I start reading when I was fifteen years old and since
                    then I couldn't stop... My TBR list grows faster than my list of finished books.<br>
                    As part of my love from the reading I create an Instagram account where I shared my opinions about the books I read.
                    I'm not so famous as I would love to be, but I start it for my love and not the fame.
                    You can see some of the content I create for this account in the "Work" section, but I also add my Instagram here.
                    <br><br>
                </p>
            </div>
            <a href="https://www.instagram.com/mylovelybooks93/" target="_blank"><img class="insta" src="/static/miPortafolioApp/img/insta.png" /></a>
            <div class="texto3">
                <p>
                    P.S Actually I'm working in a website that is going to be like my digital lecture diary.
                </p>
            </div>
        </div>
    </div>

    <div class="imgs_read">
        <img class="img1" src="/static/miPortafolioApp/img/foto6.jpg" />
        <img class="img1" src="/static/miPortafolioApp/img/foto7.jpg" />
        <img class="img1" src="/static/miPortafolioApp/img/foto9.jpg" />
        <img class="img1" src="/static/miPortafolioApp/img/foto11.jpg" />
    </div>

    <div class="photograpy">
        <img src="/static/miPortafolioApp/img/papel2.png" />
        <div class="texto-encima">
            <div class="texto4">
                <h2>
                    Photograpy
                </h2>
            </div>
            <div class="texto5">
                <p>
                    Another thing that I love is take photograps about things around me like the sky, my books, my laptop (I like to share the screen with songs that I love),
                    the flowers, places, and everything I can find beauty in their escense. The most part of the time I share this pictures on Instagram (a different account from the one above)
                    Here you can see some of my favorites photos.
                </p>
            </div>
        </div>
    </div>

    <div class="imgs_photo">
        <img class="img2" src="/static/miPortafolioApp/img/foto1.jpg" />
        <img class="img2" src="/static/miPortafolioApp/img/foto14.jpg" />
        <img class="img2" src="/static/miPortafolioApp/img/foto16.jpg" />
        <img class="img2" src="/static/miPortafolioApp/img/foto17.jpg" />
    </div>

    <div class="writting">
        <img src="/static/miPortafolioApp/img/papel3.png" />
        <div class="texto-encima">
            <div class="texto6">
                <h2>
                    Writting
                </h2>
            </div>
            <div class="texto7">
                <p>
                    This is something that come together with the reading, sometimes when I'm reading there is a scene that inspires me to writte a chapter in one of my books and 
                    when that happens I have to stop reading go to search something to write depends especially where I am so can decide between a notebook, my cellphone or my laptop,
                    and if I dont find anything to write I describe the whole escene in my head over and over again so I cant forget it and later 
                </p>
            </div>
            <div class="texto10">
                <p>
                    I write it down.
                    Everyday I got a different idea for a book but sadly I cant work on like ten different books at the same time and well I have to work only in two books.
                </p>
            </div>
        </div>
    </div>

    <div class="imgs_writte">
        <img class="img1" src="/static/miPortafolioApp/img/foto13.jpg" />
        <img class="img1" src="/static/miPortafolioApp/img/foto2.jpg" />
        <img class="img1" src="/static/miPortafolioApp/img/foto3.jpg" />
        <img class="img1" src="/static/miPortafolioApp/img/foto4.jpg" />
    </div>

    <div class="painting">
        <img src="/static/miPortafolioApp/img/papel6.png" />
        <div class="texto-encima">
            <div class="texto8">
                <h2>
                    Painting and drawing
                </h2>
            </div>
            <div class="texto9">
                <p>
                    Another thing that I enjoy a lot is painting but I dont do it a lo because I dont have enough space in my house to hang up my paintings,
                    I also draw I do that when I'm stressed out it help me to calm me down and clear my mind.
                </p>
            </div>
        </div>
    </div>

    <div class="imgs_paint">
        <img class="img2" src="/static/miPortafolioApp/img/dibujo1.jpg" />
        <img class="img1" src="/static/miPortafolioApp/img/foto15.jpg" />
        <img class="img1" src="/static/miPortafolioApp/img/foto5.jpg" />
        <img class="img3" src="/static/miPortafolioApp/img/foto10.jpg" />
    </div>

{%endblock%}