{% extends "miPortafolioApp/base.html" %}

{% load static%}

{%block content%}

    
    <div class="presentacion">
        <img src="/static/miPortafolioApp/img/papel4.jpg" />
        <div class="texto-encima">
            <div class="texto1">
                <h1>
                    Welcome to my little universe
                </h1>
            </div>
        </div>
    </div>

    <div class="info_pres">
        <h2>
            Hi! My name is Betssy Samantha Gonzalez Leyva and I'm so glad your here to see more about this world that I really love.
        </h2>
        <br><br>
        <p>
            I'm a computer engineer who always love the creative world, the idea of communicate with something more than just words,
            I'm a true believer than an image can say more than thousand words. I have interest in frontend developer and desiging,
            I know I dont know everything yet but I'm so excited to keep learning new things.
        </p>
    </div>


{%endblock%}