{% extends "miPortafolioApp/base.html" %}

{% load static%}

{%block content%}

    <h1>Works</h1>

    <div class="school">
        <h3>School presentations</h3>

        <iframe src="https://drive.google.com/file/d/1Wduv1vULD7c3dIO8x4Zyd6RvHz5cRVrV/preview" width="50%" height="50%" allow="autoplay"></iframe>
        <iframe src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFMKdchvP4&#x2F;view?embed" width="50%" height="50%"></iframe>
        <iframe src="https://drive.google.com/file/d/1cjOqZBZNxYYNwErKJHlf5G6a_VzavZgD/preview" width="580" height="340" allow="autoplay"></iframe>
        <iframe src="https://drive.google.com/file/d/1VANQvb-YsDE8qM8nJQFzqDnsy1UsEmGi/preview" width="580" height="340" allow="autoplay"></iframe><br><br>
        <iframe src="https://drive.google.com/file/d/1LEiNbHds72tQllGUlaI8zSjd35f-_XBg/preview" width="580" height="340" allow="autoplay"></iframe>
        <iframe src="https://drive.google.com/file/d/1oVYrKCaH-lTOVTmpyi-iM4gw3LV1kghd/preview" width="580" height="340" allow="autoplay"></iframe><br><br>
        <iframe src="https://drive.google.com/file/d/1NEIB0oYLtusUxAb-nbt7kUdpNBQLgXUm/preview" width="580" height="340" allow="autoplay"></iframe>
        <iframe src="https://drive.google.com/file/d/1gnAOKugkiaA1cex5qItdpaDIaui_GDbS/preview" width="580" height="340" allow="autoplay"></iframe>
    </div>
    <div class="social">
        <h3>Social Media</h3>
        
        <iframe src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFMCcam3XU&#x2F;view?embed" width="380" height="380"></iframe>
        <iframe src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFSRE_qQKo&#x2F;view?embed" width="380" height="380"></iframe>
        <iframe src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFcp4brzfA&#x2F;view?embed" width="380" height="380"></iframe>
        <iframe src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFa78xFUOo&#x2F;view?embed" width="380" height="380"></iframe>
        <iframe src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFdtHzpisA&#x2F;view?embed" width="380" height="380"></iframe>
        <iframe src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFdtMWaYao&#x2F;view?embed" width="380" height="380"></iframe>
        
    </div>    
    
    <div class="web">
        <h3>Websites</h3>
        <p>
            The websites I have work on, I made them in team so I work in different parts of the websites like the backend, database
            but I mostly work on the frontend, because it is where I have more of knowledge. I believe that is important to mention 
            that I have some expirience in this, but the final result of that projects I am not so proud of it and thats why I dont add some pictures.
        </p>

        <p>
            And I need to mention this page because I'm really proud of it I made it all by myself and I love it. It gives me a little of
            trouble and almost makes me lose my mind, but I take a deep breath and clear my mind and then I tried to look again for the problem and if I didnt find it I 
            went to Google to try to find the answer, I spend a lot of time searching the right information to solve the problems.
        </p>
    </div>

{%endblock%}